node_modules/*
.vscode/*
*.js*
query/neighbor-comparison/node_modules/chartjs-color-string/CHANGELOG.md
query/neighbor-comparison/node_modules/chartjs-color/CHANGELOG.md
query/neighbor-comparison/node_modules/chartjs-color/LICENSE
query/neighbor-comparison/node_modules/chartjs-color/README.md
query/neighbor-comparison/node_modules/chartjs-color-string/.travis.yml
query/neighbor-comparison/node_modules/chartjs-color-string/LICENSE
query/neighbor-comparison/node_modules/chartjs-color-string/README.md
query/neighbor-comparison/node_modules/color-convert/.travis.yml
query/neighbor-comparison/node_modules/color-convert/CHANGELOG.md
query/neighbor-comparison/node_modules/color-convert/LICENSE
query/neighbor-comparison/node_modules/color-convert/README.md
query/neighbor-comparison/node_modules/color-name/.npmignore
query/neighbor-comparison/node_modules/color-name/LICENSE
query/neighbor-comparison/node_modules/color-name/README.md
query/neighbor-comparison/node_modules/moment/CHANGELOG.md
query/neighbor-comparison/node_modules/moment/LICENSE
query/neighbor-comparison/node_modules/moment/README.md
query/neighbor-comparison/node_modules/moment/moment.d.ts
