html,
body, #viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#panel {
  padding: 10px;
  max-width: 400px;
}

select {
  max-width: 350px;
}

.numbers {
  font-size: 20px;
  font-weight: 600;
}

.containers{
  padding-bottom: 10px;
}