html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#viewDiv {
  position: absolute;
  left: 0;
  right: 350px;
  top: 0;
  bottom: 0;
  height: 100%;
}

#panel {
  position: absolute;
  right: 0;
  height: 100%;
  width: 350px;
  overflow: scroll;
  text-align: center;
}

#fieldList{
  width:100%;
}

#checkboxDiv {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.popup-template-select{
  width: 90%;
}

#refresh-dot-placement{
  font-size: 14pt;
  padding-top: 5px;
  cursor: pointer;
}

.checkbox-div{
  text-align: left;
}

.div-padding{
  padding: 8px 8px 8px 8px;
}

.center-text{
  padding-left: 5px;
  position: relative;
  bottom: 3px;
}

#dot-value-input {
  width: 100%;
  height: 100px;
}

#scale-range-slider {
  width: 100%;
  height: 50px;
}

#scale-range-slider .esri-slider__track {
  background-color: black;
  height: 1px;
}

#scale-range-slider .esri-slider__thumb {
  height: 20px;
  position: absolute;
  width: 10px;
}

#scale-range-slider .esri-slider__label {
  top: 16px;
  transform: rotate(45deg);
}

#scale-range-slider .esri-slider__range-input {
  padding: 5px 0;
}

#scale-range-slider .esri-slider__min {
  padding-right: 10px;
}

#scale-range-slider .esri-slider__max {
  padding-left: 6px;
}